<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a class="logo text-center">
        <span class="logo-lg">
          <div (click)="navToHome()" class="flexbox c-pointer">
            <img src="assets/icons/virus.png" alt="" height="30">
            <h3 class="metacoronavirus">metacoronavirus</h3>
          </div>

          <div class="menu-items">
            <i (click)="isSidebar = !isSidebar" class="fa fa-bars" aria-hidden="true"></i>
            <!-- <ul *ngIf="showCountryFlag" class="items-wrapper" (click)="findRoute()">
              <img [src]="getImagePath()">
            </ul> -->

            <div [class.active]="isSidebar" class="side-menu">
              <ul>
                <li *ngIf="userCountryData" (click)="findRoute()"> {{userCountryData.country_name}} Stats </li>
                <li (click)="isSidebar = !isSidebar" [routerLink]="['/questions']" routerLinkActive="router-link-active"> Common Questions </li>
                <li (click)="isSidebar = !isSidebar" [routerLink]="['/blog/corona-facts']" routerLinkActive="router-link-active"  class="b-none"> Corona Facts </li>

              </ul>
            </div>

          </div>


        </span>
        <!-- <span class="logo-sm">
          <div class="d-flex">
            <img src="https://image.flaticon.com/icons/svg/2585/2585191.svg" alt="" height="40">
            <h3 class="metacoronavirus">metacoronavirus</h3>
          </div>

          <div class="menu-items">

            <ul class="items-wrapper">
              <li class="item">News</li>
              <li class="item">Origin</li>
              <li class="item">Videos</li>

            </ul>

          </div>
          
          
        </span> -->
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->