<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a routerLink="/" class="logo text-center">
        <span class="logo-lg">
          <div class="flexbox">
            <img src="assets/icons/virus.png" alt="" height="30">
            <h3 class="metacoronavirus">metacoronavirus</h3>
          </div>

          <div class="menu-items">

            <ul *ngIf="showCountryFlag" class="items-wrapper" (click)="findRoute()">
              <img [src]="getImagePath()">
            </ul>

          </div>


        </span>
        <!-- <span class="logo-sm">
          <div class="d-flex">
            <img src="https://image.flaticon.com/icons/svg/2585/2585191.svg" alt="" height="40">
            <h3 class="metacoronavirus">metacoronavirus</h3>
          </div>

          <div class="menu-items">

            <ul class="items-wrapper">
              <li class="item">News</li>
              <li class="item">Origin</li>
              <li class="item">Videos</li>

            </ul>

          </div>
          
          
        </span> -->
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->