<div id="myth_model" style="display: block;"><i class="closePop"></i>
    <h2 class="headline">MYTH-BUSTERS <span>THERE IS A LOT OF FALSE INFORMATION AROUND. THESE ARE THE FACTS.</span></h2>
    <p class="description">
        People of all ages CAN be infected by the coronavirus. Older people, and people with pre-existing medical
        conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely ill with
        the virus.
    </p>
    <ul class="myth_list mt-4">
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_1.png"
                    alt=""></div>
            <div class="myth_text">Cold weather and snow CANNOT kill the CoronaVirus .</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_2.png"
                    alt=""></div>
            <div class="myth_text">Hand dryers are NOT effective in killing the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_3.png"
                    alt=""></div>
            <div class="myth_text">There is NO evidence that regularly rinsing the nose with saline has protected people
                from infection with the coronavirus. </div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_4.png"
                    alt=""></div>
            <div class="myth_text">The coronavirus CAN be transmitted in areas with hot and humid climates.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_5.png"
                    alt=""></div>
            <div class="myth_text">Ultraviolet light SHOULD NOT be used for sterilization and can cause skin irritation.
            </div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_6.png"
                    alt=""></div>
            <div class="myth_text">Garlic is healthy but there is NO evidence from the current outbreak that eating
                garlic has protected people from the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_7.png"
                    alt=""></div>
            <div class="myth_text">The coronavirus CANNOT be transmitted through mosquito bites.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_8.png"
                    alt=""></div>
            <div class="myth_text">Thermal scanners CAN detect if people have a fever but CANNOT detect whether or not
                someone has the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_9.png"
                    alt=""></div>
            <div class="myth_text">Antibiotics DO NOT work against viruses, antibiotics only work against bacteria.
            </div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_10.png"
                    alt=""></div>
            <div class="myth_text">There is NO evidence that companion animals/pets such as dogs or cats can transmit
                the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_11.png"
                    alt=""></div>
            <div class="myth_text">Spraying alcohol or chlorine all over your body WILL NOT kill viruses that have
                already entered your body.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_13.png"
                    alt=""></div>
            <div class="myth_text">To date, there is NO specific medicine recommended to prevent or treat the
                coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_14.png"
                    alt=""></div>
            <div class="myth_text">Taking a hot bath DOES NOT prevent the coronavirus.</div>
        </li>
        <li>
            <div class="myth_icon"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/dis_type_15.png"
                    alt=""></div>
            <div class="myth_text">Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenzae
                type b (Hib) vaccine, DO NOT provide protection against the coronavirus.</div>
        </li>
    </ul>
    <div class="text-center dis_note mb-3"><i></i> Note : Content is Sourced from <a href="https://www.who.int" target="_blank"
            class="ext" title="World Health Organization  (External Site that opens in a new window)">World Health
            Organization<span class="ext"><span class="element-invisible"> </span></span></a> </div>
</div>

<div class="col-xl-3 mt-4 share-site">
    <div class="card-box text-center">

      <h5>Share with your friends, family or coworkers.</h5>
      <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https://metacoronavirus.com"> <i
          class="fab fa-facebook"></i> </a>
      <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
        href="https://twitter.com/intent/tweet?url=https://metacoronavirus.com&hashtags=Covid_19,CoronavirusPandemic,coronastatistics,corona&text=Stay%20Updated%20with%20Live%20Coronavirus%20Tracker">
        <i class="fab fa-twitter"></i> </a>
      <a class="btn btn-icon waves-effect btn-blue"
        href="whatsapp://send?text=Coronavirus live statistics and tracker https://metacoronavirus.com"
        data-action="share/whatsapp/share"> <i class="fab fa-whatsapp"></i> </a>
    </div>
  </div>


